html {
  font-size: 62.5%;
}
.texth1 {
  color: transparent;
  background-color: rgb(243, 209, 148);
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 4rem;
}
body {
  display: block;
  font-family: "roboto", sans-serif;
  padding: 2rem;
  border-radius: 90rem;
  background: linear-gradient(to right, #9d78a5, #e7dd6d);
  margin: 2rem;
  white-space: wrap;
}
.content {
  font-size: 2rem;
}
.content1 {
  text-shadow: black 0.1rem 0.1rem 0.2rem;
  justify-content: center;
  white-space: pre-wrap;
  display: inline-block;
  color: rgb(4, 3, 3);
  height: 40rem;
  overflow: auto;
  background-image: url(./img/pic\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
